.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.signup-card{
    display: flex;
    height: 100%;
    width: 100%;
  }