#message-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column
}

.chat{
    display: flex;
    height: 100%;
    width: 100%;
}

.chat-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.chat-form {
    display: flex;
    height: 15%;
    width: 100%;
}
.chat-panel {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 15%;
}
.chat-list {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
}
.chat-item {
    border-radius: 15px;
    border:lightgray 1px solid;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}
.current-room {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 200px;
    border-radius: 10px;
    border:lightgray 1px solid;
}

