.App {
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
.hv-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#chat-wrapper {
    display: flex;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
  }

#message-container {
    display: flex;
      width: 100%;
      min-height: 300px;
      height:100%;
    flex-direction: column;
    border: solid black 1px;
  }

#message-container div {
    background-color: #CCC;
    padding: 5px;
    text-align: left;
  }

#message-container div:nth-child(2n) {
    background-color: #FFF;
  }

#send-container {
    position: fixed;
    height: 50px;
    bottom: 0;
    background-color: white;
    max-width: 500px;
    width: 80%;
    display: flex;
  }

#message-input {
    flex-grow: 1;
  }


  .registerMessage {
    margin-top: 5vh;
}

.form-login{
    display: flex;
    justify-content: space-around;
    height: 40%;
    flex-direction: column;
    text-align: left;
}

.form-signup{
    display: flex;
    justify-content: space-around;
    height: 50%;
    flex-direction: column;
    text-align: left;
}
.form-part{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-label{
    justify-content: space-around;
    display: flex;
    align-items: flex-end;
}

.form-input{
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: flex;
    padding: .375rem .75rem;
}
.form-small {
    color: #6c757d;
    align-items: center;
    display: flex;
    flex: 1;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}