@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$auth-font: 'Roboto', sans-serif;
$background-color: #611f69;
$background-text-color: #FFFFFF;
$text-color: #1D1C1D;
$inner-text-color: rgba(29,28,29,.3);
$link-color: #1264a3;

