@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  height: 100vh;
  width: 100%;
}

.App, .wrapper, #root {
  height: 100%;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.icon {
  width: 28px;
  height: 28px;
  padding: 7px 8px 8px 8px;
}

.auth-container {
  display: flex;
  flex-grow: 1;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.auth-container .form-already .login-here {
  color: #1264a3;
  text-decoration: none;
}
.auth-container .greeting {
  display: flex;
  text-align: center;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.logo {
  display: flex;
  width: 20%;
  padding: 5px;
  margin: 35px auto;
}

.form {
  padding: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.form-small {
  color: rgba(29, 28, 29, 0.3);
  margin-bottom: 15px;
}
.form-button {
  background-color: #611f69;
  color: #FFFFFF;
  border: none;
  margin-bottom: 20px;
  width: 40%;
  height: 44px;
  padding: 0 16px 3px;
  font-weight: bold;
}
.form-part {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-label {
  font-size: 28px;
  font-weight: bold;
  color: #1D1C1D;
}
.form-input {
  margin: 0 0 20px;
  height: 44px;
  padding: 12px;
  font-size: 18px;
  line-height: 1.33;
  width: 40%;
  border: 1px solid rgba(29, 28, 29, 0.3);
  border-radius: 4px;
}

.online-indicator {
  display: flex;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #33AB78;
}

.client {
  display: flex;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
}
.client-form {
  align-self: center;
  display: flex;
  border: 2px solid rgba(29, 28, 29, 0.3);
  border-radius: 5px;
  height: 8.7%;
  min-height: 80px;
  width: 98%;
  margin-bottom: 2%;
}
.client-form-chats {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.client-form-chats-top {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.client-form-chats-top input {
  font-size: 15px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 30px;
}
.client-form-chats-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
  background: #F8F8F8;
  align-items: center;
}
.client-form-chats-bottom .bottom-left {
  opacity: 0.4;
  flex-direction: row;
  display: flex;
  width: 50%;
  align-self: flex-start;
  justify-content: flex-start;
}
.client-form-chats-bottom .bottom-right {
  opacity: 0.4;
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
  width: 50%;
  align-self: flex-end;
}
.client-panel-bell {
  width: 32px;
  height: 52px;
  display: flex;
  justify-self: flex-end;
  padding-right: 16px;
}
.client-panel-arrow {
  align-self: center;
  width: 5px;
  height: 5px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  margin: 0 8px;
  display: flex;
  padding: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.client-panel {
  display: flex;
  padding-left: 16px;
  width: 15.3%;
  height: 100%;
  flex-direction: column;
  background: #3F103F;
}
.client-panel-header {
  display: flex;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.header-top {
  padding: 11px 0 0 0;
  display: flex;
  flex-direction: row;
}
.header-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-bottom-user {
  padding-left: 4px;
  display: flex;
  height: 20px;
  width: 93px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 14px;
  opacity: 0.6;
}

.jump-to {
  display: flex;
  width: 90%;
  height: 28px;
  background: #5C345C;
  border-radius: 4px;
}
.jump-to .search {
  display: flex;
  padding: 5px 8px 7px 8px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
}
.jump-to input {
  font-size: 15px;
  border-radius: 4px;
  padding: 8px 0 8px 0;
  background: #5C345C;
  width: 100%;
  border: none;
  color: #FFFFFF;
}
.jump-to input::placeholder {
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.6;
}

.apps {
  display: flex;
  width: 100%;
  height: 30px;
  font-size: 15px;
  margin: 20px 0 30px 0;
  opacity: 0.6;
}
.apps p {
  height: 100%;
  padding: 3px;
}

.channels {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
}
.channels p {
  height: 30px;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.65;
  margin: 0;
  padding: 4px;
}

.add-room {
  display: flex;
  width: 100%;
}
.add-room-button {
  display: flex;
  height: 30px;
  width: 30px;
  padding: 4px 16px 8px 0;
  justify-self: flex-end;
  align-self: flex-end;
}
.add-room-input {
  display: flex;
  font-size: 15px;
  border-radius: 4px;
  padding: 5px 5px 8px 5px;
  background: #5C345C;
  margin-left: 10px;
  width: 85%;
  border: none;
  color: #FFFFFF;
}
.add-room-input::placeholder {
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.6;
}

.room-item {
  display: flex;
  width: 100%;
  height: 30px;
  font-size: 15px;
  opacity: 0.6;
  align-items: center;
}

.chat-panel-list {
  display: flex;
  flex-direction: column;
}
.chat-container {
  display: flex;
  width: 84.7%;
  height: 100%;
  flex-direction: column;
}
.chat-field {
  display: flex;
  height: 84.7%;
  flex-shrink: 1;
  flex-direction: column;
}
.chat-search {
  border-radius: 5px;
  border: 1px solid rgba(29, 28, 29, 0.3);
  display: flex;
  height: 32px;
  flex-direction: row;
}
.chat-search-input {
  border: none;
}
.chat-header {
  width: 100%;
  display: flex;
  min-height: 60px;
  height: 6.5%;
  border-bottom: 1px solid #DDDDDD;
  justify-content: space-between;
}
.chat-header-left {
  display: flex;
  padding: 8px 8px 8px 20px;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: flex-start;
}
.chat-header-left-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  color: #1D1C1D;
}
.chat-header-right {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.status-icon {
  width: 19px;
  height: 19px;
  padding: 4px;
  opacity: 0.6;
}
.status-users {
  padding-top: 1px;
  height: 19px;
  font-size: 12px;
  color: #1D1C1D;
  opacity: 0.6;
}

.buttons-left {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.buttons-right {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.buttons-icon {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 6px;
}
.buttons-icon-clip {
  padding: 1px;
}
.buttons-icon-link {
  padding: 8px;
}
.buttons-icon-chat {
  padding: 4px;
}
.buttons-icon-search {
  margin: 0;
}

.message {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}
.message-text {
  display: flex;
  color: #1D1C1D;
  font-size: 15px;
  height: 50%;
  width: 100%;
  line-height: 100%;
}
.message .username {
  align-items: flex-end;
  line-height: 100%;
  display: flex;
  height: 50%;
  width: 100%;
  font-size: 15px;
  font-weight: 900;
  color: #1D1C1D;
}
.message-container {
  display: flex;
  width: 100%;
  height: 64px;
  margin-top: 10px;
  margin-left: 10px;
}
.message-container img {
  display: flex;
  width: 44px;
  height: 44px;
  padding-top: 4px;
}

@media (max-width: 800px) {
  .logo {
    width: 25%;
    padding: 5px;
  }

  .form {
    width: 70%;
  }
  .form-button {
    width: 100%;
  }
  .form-input {
    width: 100%;
  }
}
@media (max-width: 470px) {
  .logo {
    width: 40%;
    padding: 5px;
    margin: 20px auto;
  }

  .form {
    width: 90%;
  }
  .form-button {
    width: 100%;
  }
  .form-input {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
